/* VARIABLE */
:root {
  --primary-text-color: #212121;
  --aditional-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
}

/* GENERAL */
.container {
  width: 1170px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* index.html */

/* HEADER STYLES*/

.header {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.contact-list li {
  color: #757575;
}

.nav-list a:hover,
.nav-list a:focus,
.contact-list a:hover,
.contact-list a:active {
  color: var(--accent-color);
}

.active {
  color: var(--accent-color);
}
.logo-web {
  color: var(--accent-color);
}
.logo-studio {
  color: #000000;
}
.logo-web,
.logo-studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
/* portfolio.html */
